:root {
  /* Declarando variavel dentro do css */
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  /* Zerar o css padrão da página */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* usando a variavel dinamica */
  background: var(--preta);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header .containar {
  display: flex;
  flex-direction: row;
  align-items: center; /*açinha os elementos de maneira vertical*/
  justify-content: space-between; /* cria um espaço das tags de maneira horizontal */
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black";
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  /* Muda a cor quando passa o mouse */
  color: #fff;
}

/* Serie principal */
.serie-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/vikings1.jpg"); /*Colocamos uma cor bem clara para destacar as letras em relação a imagem*/
  height: 500px;
  background-size: cover;
  display: flex; /*Joga os elementos para padrão em linha*/
  flex-direction: column; /* Mudamos o para coluna*/
  justify-content: center; /*Alinha ao centro */
  align-items: flex-start; /*os elementos começam sempre da esquerda*/
}

.serie-principal .descricao {
  margin-top: 10px;
  margin-bottom: 90px;
}

.titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px; /*lida com o espaço interno do elemento , quando passa apenas um valor ele atrinui o mesmo para todos os lados*/
  margin-right: 15px; /*separa os botoes*/
  font-size: 12px; /*tamanho da font*/
  cursor: pointer; /*muda o cursor do mouse para identificar que é um click*/
  transition: 3s ease all; /*Cuida da transição entre uma animação ou outra*/
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}
.containar {
  margin-left: 20px;
}

.serie-principal .containar {
  width: 70%; /*limitação de largura*/
}

.box-serie {
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel-serie{
  margin-top: 5px;
}